@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Firefox */
/* * {
  scrollbar-width: none;
} */

body::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}

/* =============================================== */
/* Hide scrollbar for Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.scrollbar-hide {
  scrollbar-width: none;
}

/* ===================================== */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ✅ Perfect Smooth Loop */
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.animate-marquee-reverse {
  display: flex;
  width: max-content;
  animation: marquee-reverse 30s linear infinite;
}

.animate-text-marquee {
  animation: marquee 20s linear infinite;
}
/* ================================ */

/* Prevent the background color from appearing on autofill */
input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
}

/* Ensure input doesn't change background on hover */
input:hover,
input:focus {
  background-color: transparent !important;
}

/* Target Chrome/Firefox autofill styling */
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* ============================================ */

.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
/* ======================================================== */

